version: "3.8"
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile

    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
  test:
    stdin_open: true
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - .:/app
      - /app/node_modules
    command: ["npm", "run", "test"]
