name: Deploy single
on: 
  push:
    branches:
      - main
jobs:
 build:
   runs-on: ubuntu-latest
   steps:
     - uses: actions/checkout@v2
     - name: Deploy
       run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }} && docker build -t single . && docker tag single:latest mevanmanilka/single:latest && docker push mevanmanilka/single:latest
